/* set up fonts here */
@font-face {
	font-family: 'MovieThemeFont';
	src: url('Eurasia_Wide_Normal/Eurasia_Wide_Normal.ttf') format('truetype');
}
/* / set up fonts end */


/*General styles */
* {
	margin: 0;
	padding: 0;
}

body {
	/* set up background color, font, dimensions, etc.*/
	background-color: #000000;
	padding-top: 70px;
	font-family: MovieThemeFont;
}

.jumbotron-row {
	padding:0;
	margin:0;
	height: 350px;
}

.no-padding-no-margin {
	padding: 0;
	margin: 0;
}

/* / General styles */


/* Header and navigation */

#movie-site-header {
	/* styles for the header */
}

#movie-site-navigation {
	/* styles for the navigation */

}

.navbar {
	background-color: #171717;
	-webkit-box-shadow: 0px 4px 27px -6px rgba(0,0,0,0.39);
	-moz-box-shadow: 0px 4px 27px -6px rgba(0,0,0,0.39);
	box-shadow: 0px 4px 27px -6px rgba(0,0,0,0.39);
	border:none;
	border-bottom:1px solid #0368cf;
	border-radius: 0;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	color:#0368cf;
	background:none;
}

.navbar-default .navbar-nav>li>a:hover {
	color:#0368cf;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus {
	color:#ffffff;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 5px 15px;
	font-size: 18px;
	line-height: 20px;
}

#menu-button {
	border:none;
	background: url('../movie-website-menu-button.png') no-repeat 0 0;
	width: 44px;
	height: 40px;
}

.carousel-navigation-container {
	background-color: rgba(215, 217, 219, 0.85);
	position: relative;
	top: 325px;
	height: 25px;
}

.carousel-navigation {
	display: inline-block;
	width:100%;
}

#carousel-prev {
	background: url("../carousel-nav-prev.png") no-repeat 0 -3px;
	width:16px;
	height:30px;
	border:none;
}

#carousel-next {
	background: url("../carousel-nav-next.png") no-repeat 0 -3px;
	width:16px;
	height:30px;
	border:none;
}

#carousel-view-button {
	color: #ffffff;
	border:none;
	background-color: #0368cf;
	width:126px;
	height: 25px;
}

#login-reg-search {
	background-color: #0368cf;
}

#login-reg-search li a:hover {
	color: #000000;
}
/* /Header and navigation */


/* Content Area */
#movie-site-content {
	/* styles for the site content*/
	color: #c0bfbf;
}

#movie-site-content .top-in-category {
	
}

#movie-site-content .top-in-category ol {
	padding-left: 30px;
}

#movie-site-content .top-in-category ol li {
	padding-bottom: 8px;
}

#movie-site-content .top-in-category ol li img {
	padding-right: 6px;
	display:inline-block;
	vertical-align:middle;
}

#movie-site-content .panel-group .panel {
	margin-bottom: 0%;
	border: none;
}

#movie-site-content .panel-default {
	border:none;
}

#movie-site-content .panel {
	background-color: #171717;
	border:none;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#movie-site-content .panel-default > .panel-heading {
	color:#FFFFFF;
	background:none;
	border:none;
}

#movie-site-content .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #0368cf;
}
/* /End Content Area */

/* Footer Area */
#movie-site-footer {
	color:#c0bfbf;
	background-color: #171717;
	vertical-align: middle;
}

#movie-site-footer #footer-nav {
	padding-top: 10px;
	padding-bottom: 15px;
}

#movie-site-footer #footer-social-nav {
	padding-top: 10px;
	padding-bottom: 15px;
}

#movie-site-footer #footer-copyright {
	padding-top: 10px;
	padding-bottom: 15px;
}

#movie-site-footer #footer-nav a {
	color: #c0bfbf;
	padding-right: 8px;
}

#movie-site-footer #footer-nav a:hover {
	color: #0368cf;
	text-decoration: underline;
}

#movie-site-footer #footer-social-nav a img {
	width: 32px;
	height: 32px;
}



/* /End Footer Area */